/.custom-gcl.sha
/coverage/
/custom-gcl
/data-e2e/
/data/
/go.work
/go.work.sum
/mddb
/node_modules/
/package-lock.json
/playwright-report/
/test-results/
/tmp/
.env
.env.*.local
.env.local
.npmrc
bundle-stats.html
coverage.out
