.indicator {
  position: absolute;
  right: 0;
  height: 2px;
  background: var(--c-primary);
  pointer-events: none;
  z-index: 100;
  border-radius: 1px;
  animation: fadeIn 0.1s ease-out;
}

.indicator::before,
.indicator::after {
  content: '';
  position: absolute;
  top: -3px;
  width: 8px;
  height: 8px;
  background: var(--c-primary);
  border-radius: 50%;
}

.indicator::before {
  left: -4px;
}

.indicator::after {
  right: -4px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scaleY(0.5);
  }

  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
